Submit password to join your squad!

<form class="" action="/teams/<%= @team_id %>/join" method="post">
    <label for="password">Password: </label>
    <input type="password" name="password" value="">
    <input type="submit" value="Join">

</form>

<a href="/teams">Back</a>