<h2>Create a New Team: </h2>

<form class="" action="/teams/new" method="post">
    <label for="name">Name of Team:</label>
    <input type="text" name="name" value"">
    <input type="submit" name="" value="Create Team">

</form>