Log in to start hooping!
<form class="" action="/login" method="post">
    <input type="text" name="email" value="">
    <label for="email">Email: </label>
    <input type="text" name="password" value="">
    <label for="password">Password: </label>
    <input type="submit" value="Login">

</form>