<h2>Sign Up!</h2>

<form class="" action="/users" method="post">
    <label for="name">Full Name: </label>
    <input type="text" name="name" value=""> <br> <br>
    <label for="email">Email: </label>
    <input type="email" name="email" value=""> <br> <br>
    <label for="password">Password: </label>
    <input type="password" name="password" value=""> <br> <br>
    <label for="position">Position: </label>
    <input type="text" name="position" value=""> <br> <br>
    <label for="alt_position">Alternate Position: </label>
    <input type="text" name="alt_position" value=""> <br> <br>
    <label for="skill_level">Player Skill Level: </label>
    <input type="number" name="skill_level" min="1" max="10"> <br> <br>
    <label for="coaching_skill_level">Coaching Skill Level: </label>
    <input type="number" name="coaching_skill_level" min="1" max="10"><br> <br>
    <input type="submit" name="" value="Create Player">
    



</form>
<br>

<a href="/">Back</a>